.navbar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 200px;
  padding-top: 10px;
  background: #000;
  font-size: 14px;
  .link {
    display: block;
    position: relative;
    padding: 10px 30px;
    text-decoration: none;
    color: #aaa;
    &.active {
      color: #000;
      background: #fff;
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background: #000;
      }
    }
    &:hover {
      color: #378cbe;
    }
  }
}